body {
    margin: 0;
    padding: 0;
    background-color: #3A4A61;
    color: #FF764B;
    font-family: 'Press Start 2P', cursive;
}

.header {
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}


.bio {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.accordion-button {
    background-color: #f7f7f7;
    color: #337ab7;
    padding: 10px;
    border: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    width: 100%; /* Asegúrate de que el botón ocupe todo el ancho */
    text-align: left; /* Alinear el texto a la izquierda */
}

.accordion-content {
    padding: 20px;
    display: none; /* Ocultar por defecto */
}

.accordion-content.show {
    display: block; /* Mostrar cuando se hace clic en el botón */
}

.social-links {
    margin-top: 1rem;
}

.icon-link {
    margin: 0 1rem;
    display: inline-block;
}

.icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.icon-link:hover .icon {
    transform: scale(1.1);
}

.main-content {

    display: flex;

    flex-wrap: wrap; /* Agrega esto para que los elementos se envuelvan en una nueva línea */

    justify-content: center; /* Centraliza el contenido principal */

    align-items: flex-start;

    /*max-width: 1200px; /* Ancho máximo para todo el contenido */

    margin: 0 auto; /* Añade márgenes en blanco a los lados */

    padding: 0 20px; /* Padding lateral para márgenes internos */

}

.projects, .education-experience, aside {

    margin: 20px; /* Agrega un margen para que los elementos tengan espacio entre sí */

    flex-basis: 30%; /* Establece un ancho base para cada elemento */

}


@media (max-width: 767px) {

    .projects, .experience, .education, aside {

        flex-basis: 100%; /* En pantallas pequeñas, los elementos ocupan todo el ancho */

        margin: 10px; /* Reduce el margen en pantallas pequeñas */

    }

}

.project, .experience-item, .education-item {
    background: #fff;
    color: #000;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


.project img {
    width: 250px; /* Aumenta el tamaño de las imágenes */
    height: 250px;
    margin-right: 20px;
    object-fit: cover;
}

.project-content {
    display: flex;
    flex-direction: column;
    max-width: 700px; /* Ajusta el ancho del contenido del proyecto */
}

.project h3 {
    margin: 0;
}

.project p {
    margin: 5px 0 0 0;
    line-height: 1; /* Aumenta el espacio entre las líneas */
}

/* Estilo para el aside */
aside {
    max-width: 300px;
    margin-left: 20px;
    margin-top: 60px; /* Baja un poco el aside para alinearlo con los proyectos */
}

aside h2 {
    margin-top: 0;
}

.skills, .languages {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2E3A47;
    color: #FF764B;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .main-content {
        flex-direction: column;
        align-items: stretch;
    }

    .experience, .education, .projects {
        margin-left: 0;
        padding-left: 0;
    }

    aside {
        margin-left: 0;
        margin-top: 20px; /* Baja un poco el aside para alinearlo en pantallas pequeñas */
    }
}
p {
    line-height: 1.5; /* Aumenta el espacio entre las líneas */
}
.project-mosaic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .project-tile {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-tile img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .project-info {
    padding: 20px;
  }
  
  .project-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project-info p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1; /* Aumenta el espacio entre las líneas */
  }
  
  .project-info a {
    font-size: 14px;
    color: #337ab7;
    text-decoration: none;
  }
  
  .project-info a:hover {
    color: #23527c;
  }
  
  @media (max-width: 768px) {
    .project-mosaic {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .project-mosaic {
      grid-template-columns: 1fr;
    }
  }
  .accordion-button {
    background-color:  #FF764B; /* Color de fondo del botón igual al del cuerpo */
    color: #3A4A61; /* Color del texto del botón igual al del cuerpo */
    padding: 10px 20px; /* Espacio entre el texto y el borde del botón */
    border: none; /* No mostrar borde del botón */
    border-radius: 5px; /* Redondear esquinas del botón */
    cursor: pointer; /* Cambiar cursor a mano para indicar que es clickable */
    font-family: 'Press Start 2P', cursive; /* Fuente del botón igual a la del cuerpo */
}

.accordion-button:hover {
    background-color: #ebe2e0; /* Color de fondo del botón al hacer hover, un tono más oscuro que el original */
}